.about {
  .btn-more{
    background: @background-btn;
		color: @color-btn;
    &:hover {
  		background: @yellow;
  		color: #282828;
  	}
  }
}
.title-section-small {
  font-size: 20px;
}
.statistic{
  padding: 20px 0;
  margin-bottom: 50px;
  .flex-outer {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

  .flex-inner {
    width: 100%;
    margin: auto;
  }
  &-wrapper{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &-chart {
    position:relative;
    margin-bottom: 10px;
    &::after {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      background: #f9b407;
      border-radius: 50%;
      position: absolute;
      bottom: 40px;
      left: 50%;
      margin-left: -2px;
    }
    &-second::after {
      background: #f7c20a;
    }

    &-third::after {
      background: #fbd414;
    }
    &-fourth::after {
      background: #f9db17;
    }
    &-fifth::after {
      background: #f7e524;
    }
    &-sixth::after {
      background: #f7e524;
    }
  }


  /* .chart::before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: #5b5b5b;
    position: absolute;
    top: 3px;
    left: 50%;
    margin-left: -7px;
    transform: rotate(45deg);
  }*/


  &-tag {
    width:100%;
    text-align:center;
    position:absolute;
    top:43%;
    font-size: 33px;
    color: #000;
    cursor: default;
    font-family: BicubikRegular, Ubuntu, sans-serif;
    &::before {
      content: '';
      width: 50px;
      height: 1px;
      background: #5b5b5b;
      position: absolute;
      top: -2px;
      left: 50%;
      margin-left: -25px;
    }
    &::after {
      content: '';
      width: 20px;
      height: 20px;
      background: url(../img/sprite.png) center no-repeat;
      position: absolute;
      top: -25px;
      left: 50%;
      margin-left: -10px;
    }
  }

  &-tag-small {
    font-size: 18px;
  }

  &-chart-first .statistic-tag::after {
    background-position: center 4px;
  }

  &-chart-second .statistic-tag::after {
    background-position: center -21px;
  }

  &-chart-third .statistic-tag::after {
    background-position: center -48px;
  }

  &-chart-fourth .statistic-tag::after {
    background-position: center -75px;
  }

  &-chart-fifth .statistic-tag::after {
    background-position: center -100px;
  }

  &-chart-sixth .statistic-tag::after {
    background-position: center -126px;
  }

  &-undertitle {
    display: block;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  .btn-more {
    margin-top: 30px;
  }
}


.statistic-wrapper{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.chart {
  position:relative;
  margin-bottom: 10px;
}

.chart::after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background: #f9b407;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -2px;
}

/* .chart::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: #5b5b5b;
  position: absolute;
  top: 3px;
  left: 50%;
  margin-left: -7px;
  transform: rotate(45deg);
}*/

.second::after {
  background: #f7c20a;
}

.third::after {
  background: #fbd414;
}
.fourth::after {
  background: #f9db17;
}
.fifth::after {
  background: #f7e524;
}
.sixth::after {
  background: #f7e524;
}


.tag {
  width:100%;
  text-align:center;
  position:absolute;
  top:43%;
  font-size: 33px;
  color: #000;
  cursor: default;
  font-family: BicubikRegular, Ubuntu, sans-serif;
}

.tag-small {
  font-size: 18px;
}

.tag::before {
  content: '';
  width: 50px;
  height: 1px;
  background: #5b5b5b;
  position: absolute;
  top: -2px;
  left: 50%;
  margin-left: -25px;
}

.tag::after {
  content: '';
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) center no-repeat;
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -10px;
}

.first .tag::after {
  background-position: center 4px;
}

.second .tag::after {
  background-position: center -21px;
}

.third .tag::after {
  background-position: center -48px;
}

.fourth .tag::after {
  background-position: center -75px;
}

.fifth .tag::after {
  background-position: center -100px;
}

.sixth .tag::after {
  background-position: center -126px;
}

.undertitle {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.questions{
  margin-top: 50px;
  padding: 0;
  &-title{
    width: 100%;
    background: #f5f5f5;
    margin: 0;
    text-align: left;
    font-size: 30px;
    padding: 15px;
    border-bottom: 2px solid #ddd;
    cursor: pointer;
    color: lighten(@color-btn, 20%);
    transition: .25s;
    &:hover{
      transition: .25s;
      color: @color-btn;
    }
  }
  &-item{
    list-style-type: none;
    &-content {
      display: none;
      &-show{
        display: block;
        background: #fff;
      }
    }
  }
}

.catalog-row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  // &:nth-child(even) {
  //   .catalog-item {
  //     &:nth-child(even) {
  //       background: lighten(@yellow, 45%);
  //     }
  //     &:nth-child(odd) {
  //       background: lighten(@yellow, 40%);
  //     }
  //   }
  // }
  // &:nth-child(odd) {
  //   .catalog-item {
  //     &:nth-child(even) {
  //       background: lighten(@yellow, 40%);
  //     }
  //     &:nth-child(odd) {
  //       background: lighten(@yellow, 45%);
  //     }
  //   }
  // }
}

.catalog-item{
  width: 25%;
  padding: 20px 10px;

}

.catalog-link {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000;
}

.catalog-img{
  width: 80px;
  height: 80px;
  opacity: .5;
  transition: .5s;
  margin-right: 15px;
  float: left;
}

.catalog-link:hover .catalog-img{
  opacity: 1;
  transition: .5s;
}

.catalog-link:hover .catalog-undertitle {
  color: #282828;
  transition: .5s;
}

.catalog-undertitle {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  padding-top: 25px;
  color: lighten(#282828, 20%);
  transition: .5s;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1125px) {
  .catalog {
    &-item {
      width: 180px;
    }
    &-link{
      flex-direction: column;
    }
    &-img {
      margin: auto;
    }
    &-undertitle {
      margin: auto;
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 5px;
  }
  .text{
    padding: 0 20px;
    font-size: 14px;
    line-height: 22px;
  }
  .questions{
    &-title{
      text-align: center;
      font-size: 18px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .catalog {
    &-row{
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &-item {
      width: 180px;
    }
    &-link{
      flex-direction: column;
    }
    &-img {
      margin: auto;
    }
    &-undertitle {
      margin: auto;
      text-align: center;
    }
  }
}
